@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.initial-hidden {
  opacity: 0;
  pointer-events: none;
}

body.revealed .initial-hidden {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 200ms ease;
}
