---
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Founders from "../components/Founders.astro";
import Hero from "../components/Hero.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Problem from "../components/Problem.astro";
import ValueProps from "../components/ValueProps.astro";
import { sanitizeFormspreeUrl } from "../lib/formspree";
import BaseLayout from "../layouts/BaseLayout.astro";

const formspreeUrl = sanitizeFormspreeUrl(import.meta.env.PUBLIC_FORMSPREE_URL);
---

<BaseLayout>
  <main id="main-content">
    <Hero />
    <Problem />
    <ValueProps />
    <HowItWorks />
    <Founders />
    <Contact formspreeUrl={formspreeUrl} />
  </main>
  <Footer />
</BaseLayout>
