---
import Comparison from "../components/Comparison.astro";
import Contact from "../components/Contact.astro";
import Deployment from "../components/Deployment.astro";
import Footer from "../components/Footer.astro";
import Founders from "../components/Founders.astro";
import Hero from "../components/Hero.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Problem from "../components/Problem.astro";
import RolePaths from "../components/RolePaths.astro";
import SampleOutput from "../components/SampleOutput.astro";
import Security from "../components/Security.astro";
import ValueProps from "../components/ValueProps.astro";
import { sanitizeFormspreeUrl } from "../lib/formspree";
import BaseLayout from "../layouts/BaseLayout.astro";

const formspreeUrl = sanitizeFormspreeUrl(import.meta.env.PUBLIC_FORMSPREE_URL);
---

<BaseLayout>
  <main id="main-content">
    <Hero />
    <Problem />
    <ValueProps />
    <HowItWorks />
    <SampleOutput />
    <Comparison />
    <RolePaths />
    <Deployment />
    <Security />
    <Founders />
    <Contact formspreeUrl={formspreeUrl} />
  </main>
  <Footer />
</BaseLayout>
